.BorderedBox {
  width: 255px;
  // height: 158px;
  padding: 10px;
  // border: 6px solid #d0daeb;
  border-radius: 8px;
  box-sizing: border-box;
  position: relative;
  background: #fff;
  margin-bottom: 22px;
  box-shadow: 0 0 0 2px rgba(238, 244, 254, 1);



  &::before {
  content: "";
    position: absolute;
    top: -6px;
    left: -6px;
    right: -6px;
    bottom: -6px;
    // background: linear-gradient(to bottom right, #d0daeb, #EEF4FE);
    background:rgba(238, 244, 254, 1);
    border-radius: 15px;
    z-index: -1;
  }

}
